@font-face {
  font-family: 'mark-pro-bold.woff';
  src: url('../fonts/mark-pro-bold.woff');
}

@font-face {
  font-family: 'mark-pro-regular.woff';
  src: url('../fonts/mark-pro-regular.woff');
}

:root {
  --regular: 'mark-pro-regular.woff';
  --bold: 'mark-pro-bold.woff';
}


:root {
  --primary-color:  #44148b;
  --secundary-color: #4ccaff;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #44148b, #4ccaff, #eeeeee);
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {

  background: rgba(55, 55, 55, 0.388);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  padding: 25px 60px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: var(--regular);
}

.container h1{
  font-size: 4rem ;
  font-family: var(--bold);
  color: #1b1b1b;
}

button {
  border-radius: 5px;
  background: var(--secundary-color);
  color: #1b1b1b;
  font-size: 0.8rem;
  height: 30px;
  width: 80px;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  font-family: var(--regular);
}

button:hover {
  background: #94dcfbad;
}
.relogio {
  font-size: 4em;
  color: #1b1b1b;
}

.pausado {
  color: rgba(253, 49, 49, 0.652);
}

